{% extends 'admin_template.html' %}

{% block title %}Home{% endblock %}


{% block content %}
{% load static %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        
        <div class="col-lg-6">
          <!-- done -->
            {% if model_name == 'author' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvel auteur</h5>

              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'author_creation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="id_firstname" class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_firstname" name="first_name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="id_lastname" class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_lastname" name="last_name">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Pays</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="pays" aria-label="Default select example">
                      <option value="CI" selected>Cote d'Ivoire</option>
                      <option value="Fr">France</option>
                      <option value="US">Etats Unis</option>
                      <option value="UK">Royaumes Unis</option>
                    </select>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
              <!-- End Horizontal Form -->

            </div>
          </div>

          {% elif model_name == 'domaine' %}
          <!-- done -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvau domaine</h5>

              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'domaine_creation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="id_domaine_name" class="col-sm-2 col-form-label">Nom du domaine</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_domaine_name" name="domaine_name">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
              <!-- End Horizontal Form -->

            </div>
          </div>
          <!-- done -->
          {% elif model_name == 'book' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouveau livre</h5>
              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'book_creation' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- title -->
                <div class="row mb-3">
                  <label for="title" class="col-sm-2 col-form-label">Titre Livre:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                </div>
                <!-- isbn -->
                <div class="row mb-3">
                  <label for="isbn_id" class="col-sm-2 col-form-label">ISBN:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="isbn_id" name="isbn">
                  </div>
                </div>
                <!-- pub date -->
                <div class="row mb-3">
                  <label for="publication_date_id" class="col-sm-2 col-form-label">Date Pub:</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="publication_date_id" name="publication_date">
                  </div>
                </div>
                <!-- lang -->
                <div class="row mb-3">
                  <label for="language_id" class="col-sm-2 col-form-label">Langue:</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="language" aria-label="Default select example"required id="language_id">
                        <option value="Fr" selected>Francais</option>
                        <option value="En">Anglais</option>
                    </select>
                  </div>
                </div>
                <!-- nb page -->
                <div class="row mb-3">
                  <label for="nb_page_id" class="col-sm-2 col-form-label">Nombre de pages: </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputText" name="nb_page" id="nb_page_id">
                  </div>
                </div>
                <!-- prix unitaire -->
                <div class="row mb-3">
                  <label for="prix_unit_id" class="col-sm-2 col-form-label">Prix unitaire:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="prix_unit_id" name="prix_unitaire">
                  </div>
                </div>
                <!-- quantite stock -->
                <div class="row mb-3">
                  <label for="Qte_stock_id" class="col-sm-2 col-form-label">quantite:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="Qte_stock_id" name="Qte_stock">
                  </div>
                </div>
                <!-- domaine -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Domaine:</label>
                  <div class="col-sm-10">
                      <select class="form-select" name="domaine_id" aria-label="Default select example"required id="id_classe_id">
                        <option value="" selected>---------</option>  
                        {% for d in domaine %}
                                <option value="{{ d.domaine_id }}">{{ d.domaine_name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- image -->
                <div class="row mb-3">
                  <label for="image_id" class="col-sm-2 col-form-label">Image du livre:</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="image_id", name="image">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>
          <!-- done -->
          {% elif model_name == 'examplaire' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvel examplaire</h5>

              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'examplaire_creation' %}" >
                {% csrf_token %}
                <!-- numero exemplaire -->
                <div class="row mb-3">
                  <label for="num_exemplaire_id" class="col-sm-2 col-form-label">Numero exemplaire</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="num_exemplaire_id" name="exemplaire_number">
                  </div>
                </div>
                <!-- numero de l'edition -->
                <div class="row mb-3">
                  <label for="num_edition_id" class="col-sm-2 col-form-label">numero de l'edition</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="num_edition_id" name="edition_number">
                  </div>
                </div>
                <!-- etat -->
                <div class="row mb-3">
                  <label for="etat_id" class="col-sm-2 col-form-label">Etat:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="etat_id", name="etat">
                  </div>
                </div>

                <!-- disponible -->
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0"></legend>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="disponible" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            disponible
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="disponible" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Indisponible
                        </label>
                    </div>
                </div>
                
                </fieldset>
                
                <!-- livre -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Livre:</label>
                  <div class="col-sm-10">
                      <select class="form-select" name="livre_id" aria-label="Default select example"required id="id_classe_id">
                        {% for l in livres %}
                                <option value="{{ l.livre_id }}">{{ l.title }}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>

                <!-- editeur -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Editeur:</label>
                  <div class="col-sm-10">
                      <select class="form-select" name="editeur_id" aria-label="Default select example"required id="id_classe_id">
                        {% for e in editeurs %}
                                <option value="{{ e.editeur_id }}">{{ e.editeur_name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>
          <!-- done -->
          {% elif model_name == 'editeur' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvel editeur</h5>

              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'editeur_creation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="id_editeur_name" class="col-sm-2 col-form-label">Nom de l'editeur</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_editeur_name" name="editeur_name">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Pays</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="pays" aria-label="Default select example">
                      <option value="CI" selected>Cote d'Ivoire</option>
                      <option value="Fr">France</option>
                      <option value="US">Etats Unis</option>
                      <option value="UK">Royaumes Unis</option>
                    </select>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
              <!-- End Horizontal Form -->

            </div>
          </div>

          {% elif model_name == 'edition' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvelle edition</h5>

              <!-- Horizontal Form -->
              <form method="POST">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Your Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        First radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Second radio
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                      <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>

          {% elif model_name == 'emprunt' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvau emprunt</h5>

              <!-- Horizontal Form -->
              <form method="POST">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Your Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        First radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Second radio
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                      <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>

          {% elif model_name == 'remise' %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvelle remise</h5>

              <!-- Horizontal Form -->
              <form method="POST">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Your Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        First radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Second radio
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                      <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>

          {% elif model_name == 'classe' %}
          <!-- done -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nouvelle classe</h5>

              <!-- Horizontal Form -->
              <form method="POST" action="{% url 'classe_creation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="id_classe_name" class="col-sm-2 col-form-label">Nom de la classe</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_classe_name" name="classe_name">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Niveau</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="classe_niveau" aria-label="Default select example">
                      <option value="M1" selected>Master 1</option>
                      <option value="M2">Master 2</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="id_effectif" class="col-sm-2 col-form-label">Effectif</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="id_effectif" name="effectif">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
              <!-- End Horizontal Form -->

            </div>
          </div>

          <!-- done -->
          {% elif model_name == 'ecue' %}
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouvelle ECUE</h5>
                <!-- Horizontal Form -->
                <form method="POST" action="{% url 'ecue_creation' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="id_ecue_name" class="col-sm-2 col-form-label">Nom ECUE:</label>
                        <div class="col-sm-10">
                            <input type="text" name="ecue_name" class="form-control" id="id_ecue_name">
                        </div>
                    </div>
        
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">Classe:</label>
                      <div class="col-sm-10">
                          <select class="form-select" name="classe_id" aria-label="Default select example"required id="id_classe_id">
                            <option value="" selected>---------</option>  
                            {% for c in classe %}
                                  <option value="{{ c.classe_id }}">{{ c.classe_name }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  
                  <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form>
        
            </div>
          </div>
        
          {% endif %}


        </div>

        <div class="col-lg-6">

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
